/* components.css */

button, #download-button, .download-link {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 50px; /* Softer edges with a higher border-radius */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Slightly increased shadow for a 'floating' effect */
}

button:hover, #download-button:hover, .download-link:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

button:active, #download-button:active, .download-link:active {
    background-color: #003f7f;
    transform: translateY(0);
}

#archive-button.pulsing {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}

/* Sublinks und Dropdown-Pfeile */
.sub-link {
    padding-left: 20px;
    background-color: #f9f9f9;
    border-left: 2px solid #007BFF;
}

.sub-link:hover {
    background-color: #e0e0e0;
}

.expanded .toggle-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.expanded + .sub-link {
    display: table-row;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fehler- und Erfolgsmeldungen */
.error, .success {
    padding: 10px;
    margin-bottom: 20px;
    border-left: 4px solid;
}

.error {
    color: #ff0000;
    background-color: #ffe6e6;
    border-color: #ff0000;
}

.success {
    color: #008000;
    background-color: #e6ffe6;
    border-color: #008000;
}
