form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #007BFF;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container .icon {
    padding: 10px;
    background: #007BFF;
    color: white;
    min-width: 50px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Abstand oberhalb der Schaltfläche */
}

button:hover {
    background-color: #0056b3;
}

/* Fortschrittsanzeige */
#progress-container {
    display: none;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-bar {
    width: 0;
    height: 30px;
    background: repeating-linear-gradient(
        45deg,
        #007BFF,
        #007BFF 10px,
        #0056b3 10px,
        #0056b3 20px
    );
    transition: width 0.3s;
}

/* Tabellenstile */
#links-container {
    margin-top: 20px;
}

.table-container {
    max-height: 400px; /* Maximalhöhe der Tabelle */
    overflow-y: auto; /* Scrollbar für die Tabelle */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #f0f0f0;
}

th {
    background-color: #007BFF;
    color: #fff;
}

td a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

td a:hover {
    color: #0056b3;
}

/* Fehler- und Erfolgsmeldungen */
.error {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-left: 4px solid #ff0000;
    margin-bottom: 20px;
}

.success {
    color: #008000;
    background-color: #e6ffe6;
    padding: 10px;
    border-left: 4px solid #008000;
    margin-bottom: 20px;
}

/* Download-Link */
.download-link {
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #0056b3;
}
