/* ==============================
   Layout CSS
   ============================== */

/* --------------------------------
   Top-Bar
   -------------------------------- */

/* Stil für die obere Leiste */
#top-bar {
    width: 100%; /* Volle Breite */
    background-color: #007BFF; /* Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    padding: 20px 0; /* Innenabstand oben und unten */
    text-align: center; /* Zentrierter Text */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
}

/* --------------------------------
   Hauptcontainer
   -------------------------------- */

/* Stil für den Hauptcontainer */
#main-container {
    display: flex; /* Flexbox-Layout */
    flex: 1; /* Flexibles Wachstum */
    width: 100%; /* Volle Breite */
    box-sizing: border-box; /* Box-Sizing auf Border-Box setzen */
}

/* --------------------------------
   Rechte Seite - Link-Liste Container
   -------------------------------- */

/* Stil für den rechten Container */
#right-container {
    flex: 1; /* Flexibles Wachstum */
    padding: 20px; /* Innenabstand */
    background-color: rgba(255, 255, 255, 0.9); /* Hintergrundfarbe mit Transparenz */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
    overflow-y: auto; /* Vertikale Scrollleiste */
}

/* --------------------------------
   Linke Seite - Formular und URL-Eingabe Container
   -------------------------------- */

/* Stil für den linken Container */
#left-container {
    flex: 1; /* Flexibles Wachstum */
    padding: 20px; /* Innenabstand */
    background-color: rgba(255, 255, 255, 0.9); /* Hintergrundfarbe mit Transparenz */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schatteneffekt */
    border: 1px solid #ccc; /* Feiner Rahmen */
    display: flex; /* Flexbox-Layout */
    flex-direction: column; /* Flex-Elemente vertikal anordnen */
    justify-content: center; /* Zentrierung der Inhalte */
    overflow-y: auto; /* Vertikale Scrollleiste */
}
