/* modal.css */

/* Styling für das Modal-Fenster */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: animatetop 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

/* Schließen-Button im Modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
}

/* Modal-Titel und Text */
.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007BFF;
}

.modal p, .modal ul {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal ul#archived-links-list {
    list-style-type: none;
    padding: 0;
}

.modal ul#archived-links-list li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Benachrichtigungen */
#notification-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 300px;
    z-index: 1000;
    pointer-events: none;
}

.notification {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.notification.fade-in {
    opacity: 1;
    transform: translateY(0);
}
